{% extends 'women/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<p>Добро пожаловать на нашу виртуальную энциклопедию автомобилей!<br><br>
Мы приглашаем Вас отправиться в увлекательное путешествие по миру автомобилей! Наши страницы наполнены уникальными историями, фотографиями и подробной информацией об автомобилях, которые определяют транспортное будущее.<br><br><br><br><br>

    Контактная информация:<br>
    Подколзин Андрей<br>
    Тел.: 8 (705) 529-86-25<br>
    E-mail: suddenlyandy@gmail.com<br>


{% endblock %}
